<div class="footer-emblems"></div>
<footer>
    <div class="wrapper">
        <div class="menu_cont mb-12">
            <nav id="nav-footer" class="nav-footer" role="navigation">
                {% include "menu.twig" with {'items': footer_menu.get_items, 'menu': true } %}
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <div class="embl_cont">
                    <a href="{{site.url}}" title="На главную страницу">
                        <img src="{{ theme.link  ~ "/static/emblem.svg" }}" class="emblem" width="208" height="58" alt="Логотип Leader Dance" title="Логотип Leader Dance" />
                    </a>
                </div>
                <div class="vcard hcard">
                    {% include ['partial/contacts.twig'] %}
                </div>
            </div>
            <div class="col">
                <p>
                    Вся представленная на сайте информация носит информационный характер и не является публичной офертой. Любое использование материалов сайта возможно только с письменного согласия ИП Гливенко Дениса Сергеевича
                </p>
                <p>
                    <a href="{{ site.url }}/privacy-policy/">
                        Политика конфиденциальности и обработки персональных данных
                    </a>
                </p>
                <p>
                    2007-{{"now"|date('Y')}} © Танцевальный центр «Leader Dance» Астрахань
                </p>
                <p>
                    Разработка: <a href="https://shibitov.ru/" target="_blank">JSH</a>
                </p>
            </div>
        </div>
    </div>
</footer>