<section class="slider">
    <div class="slides">
        {% for slide in slides %}
            {% if slide.thumbnail %}
                <div class="slide" id="slide-{{slide.id}}">
                    {% block content %}
                        <a href="{{ slide.meta('link') }}" title="">
                            <img class="slide_image" src="{{slide.thumbnail.src}}" alt="" />
                            <div class="slide_handheld_image">
                                {{ slide.content }}
                            </div>
                        </a>
                    {% endblock %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>